.moviCardWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.movieCardPoster {
    position: relative;
    aspect-ratio: 2 / 3;
}

.movieCardPoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    aspect-ratio: 2 / 3;
}

.moviCardDesc {
    background-color: var(--color-light-background);
    padding: var(--spacing-sm);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.ratingWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
}

.moviCardAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-sm);
}

.moviCardAction button:first-child {
    display: flex;
    align-items: center;
}

.moviCardAction button:last-child,
.moviCardAction button:first-child {
    padding: 4px var(--spacing-sm);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.moviCardAction button:last-child:hover,
.moviCardAction button:first-child:hover {
    background-color: rgb(49, 49, 49);
}