.rateModalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 40;
    width: clamp(600px, 35vw, 800px);
    background-color: var(--color-light-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px 0 var(--spacing-extra-lg) 0;
}

.rateModalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rateModalPreHeader {
    color: var(--color-primary-accent);
    text-transform: uppercase;
    font-size: var(--font-size-extra-sm);
    letter-spacing: 1px;
    margin: var(--spacing-sm) 0;
    font-weight: bold;
}

.rateModalTitle {
    font-size: var(--font-size-lg);
}

.stars {
    display: flex;
    gap: var(--spacing-extra-sm);
    margin: var(--spacing-lg) 0;
}

.rateButton {
    background-color: var(--color-primary-accent);
    width: 100%;
    padding: var(--spacing-extra-sm);
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.2s ease-in;
    color: var(--color-background);
    margin: 0 0 var(--spacing-df) 0;
}

.rateButton:disabled {
    background-color: #313131;
    opacity: 0.5;
    color: var(--color-text);
    cursor: default;
}

.removeRateButton {
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--color-primary-accent);
    padding: var(--spacing-extra-sm);
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    background: transparent;
    transition: all 0.2s ease-in;
    padding: var(--spacing-extra-sm);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background: rgba(255, 255, 255, 0.116);
}

.closeButton svg {
    fill: var(--color-text);
}

.bigRateIcon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

.bigRateIcon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-extra-lg);
}