#root {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.heroSection > div {
    height: 100%;
    border-radius: 10px;
}

.heroSection {
    margin: 20px 20px 50px 20px;
    display: flex;
    gap: 20px;
    position: relative;
}

.headerLink {
    height: 100%;
    display: flex;
    align-items: center;
    padding: var(--spacing-extra-sm) var(--spacing-df);
    border-radius: 15px;
}

.headerLink:hover,
.menuButton:hover {
    background-color: var(--color-background);
}

.backdropOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}
.backdropOverlay.visible {
    z-index: 30;
}

.isLoading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}