.rateModalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 40;
    width: clamp(600px, 40vw, 800px);
    background-color: var(--color-light-background);
    padding: var(--spacing-lg);
}

.rateModalWrapper p {
    margin-top: var(--spacing-df);
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    background: transparent;
    transition: all 0.2s ease-in;
    padding: var(--spacing-extra-sm);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background: rgba(255, 255, 255, 0.116);
}

.closeButton svg {
    fill: var(--color-text);
}

.rateModalContent {
    display: flex;
}

.imageWrapper {
    width: 80px;
    border-radius: 10px;
}

.movieOverview {
    padding-left: var(--spacing-md);
}

.genres {
    opacity: 0.6;
    margin-top: 4px;
}

.ratingWrapper {
    display: flex;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.movieDetailsActions {
    margin-top: var(--spacing-md);
}
