.headerWrapper {
    background-color: var(--color-light-background);
    padding: var(--spacing-df);
}

.headerContainer {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 100%;
    padding: 0 var(--spacing-df);
    border-radius: 15px;
}

.menuButton svg {
    width: 30px;
    height: 30px;
}

.menuButton svg path {
    stroke: var(--color-text);
}

.headerLink {
    height: 100%;
    display: flex;
    align-items: center;
    padding: var(--spacing-extra-sm) var(--spacing-df);
    border-radius: 15px;
}

.headerLink:hover,
.menuButton:hover {
    background-color: var(--color-background);
}

.line {
    height: 100%;
    opacity: 0.5;
}

.watchlistNumber {
    width: 26px;
    height: 16px;
    background-color: var(--color-primary-accent);
    color: var(--color-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: var(--font-size-sm);
    margin-left: 5px;
    padding-right: 1px;
}

.watchlistButton {
    position: relative;
}

.watchlistDropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    width: 380px;
    transform: translateX(-50%);
    background-color: var(--color-background);
    border: 2px solid var(--color-light-background);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.watchlistDropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    color: #fff;
    flex: 1;
}

.watchlistDropdownItem img {
    width: 32px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
}

.watchlistDropdown a {
    display: block;
    width: fit-content;
    margin: 10px auto 0 auto;
    background-color: var(--color-secondary-accent);
    padding: var(--spacing-extra-sm) var(--spacing-sm);
    border-radius: 10px;
}