.addToWatchlist polygon {
    transition: all 0.2s ease-in-out;
}
.addToWatchlist:hover polygon {
    opacity: 0.6;
}

.addToWatchlist {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.wideWatchlistButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 30px;
    width: 100%;
}
.wideWatchlistButton:hover {
    opacity: 0.8;
}
.wideWatchlistButton span {
    color: var(--color-secondary-accent);
    margin-top: 2px;
}
.wideWatchlistButton svg {
    display: block;
    flex-shrink: 0;
    fill: var(--color-secondary-accent);
}